@font-face {
   font-family: BravoRGRegular;
   src: url("../fonts/BravoRGRegular.ttf") format("opentype");
   };
@font-face {
   font-family: ceremonious_one;
   src: url("../fonts/ceremonious_one.ttf") format("opentype");
   };
@font-face {
   font-family: pfdintextcondpro-medium;
   src: url("../fonts/pfdintextcondpro-medium.ttf") format("opentype");
   };
@font-face {
   font-family: pfdintextcondpro-regular;
   src: url("../fonts/pfdintextcondpro-regular.ttf") format("opentype");  
   }; 

   

   @font-face {
      font-family: Idealist_Sans;
      src: url("../fonts/Idealist_Sans.ttf") format("opentype");  
      }; 